<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('nav', {user: user}) %>
    <div class="home">
        <div class="h-top">
            <h2>Click below to get started!</h2>
        </div>

        <div class="h-bot">
            <a href="/sign-up">Sign Up</a>
            <a href="/log-in">Log in</a>
            <a href="/clubhouse">Enter Clubhouse</a>
        </div>
    </div>
</body>
</html>