<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <div class="form-cont">
        <h1 class="title"><%= title %></h1>
        <form action="/" method="post">
            <div class="f-bit">
                <div class="f-item">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                
                <div class="f-item">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password">
                </div>
            </div>
            

            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>