<nav>
    <div class="n-side">
        <a href="/clubhouse" class="n-name">Clubhouse</a>
    </div>

    <div class="n-side">
        <a class="sel" href="/log-in">Login</a>
        <a class="sel" href="/sign-up">Sign up</a>
        <a class="sel">Profile Settings</a>
    </div>
</nav>