<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title><%= title %></title>
</head>
<body>
    <%- include('nav', {user: user}) %>
    <div class="form-cont">
        <form action="/new-msg" method="post">
            <h1 class="title"><%= title %></h1>
            <div class="f-new">
                <div class="f-item">
                    <label for="title">Title</label>
                    <input type="text" name="title" id="title">
                </div>
                
                <div class="f-item">
                    <label for="body">Body</label>
                    <textarea type="text" name="body" id="body" class="new-text"></textarea>
                </div>
            </div>
            

            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>