@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    color: white;
    background-color: rgb(55, 55, 58);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 350px;
}

.h-bot {
    display: flex;
    gap: 20px;
}

.h-bot a {
    padding: 10px;
    background-color: rgb(255, 255, 255);    
    /* background-color: rgb(34, 142, 236);     */
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.2s all;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
}

.h-bot a:hover {
    background-color: rgb(0, 0, 0);    
    transform: translateY(-2px);
    color: white;
}

.title {
    padding: 20px;
}

form, .other {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    color: black;
}

.form-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 100px;
}

.f-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 100%; */
}

.f-bit {
    display: flex;
    gap: 10px;
}

form button, .other a {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    transition: 0.2s all;
}

form button:hover, .other a:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.705);
}

form input, form textarea {
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.185);
    border: 2px solid rgb(179, 172, 166);
    font-weight: 400;
}

.other {
    padding: 15px;
    width: 20%;
}

nav {
    display: flex;
    padding: 20px;
    margin-bottom: 50px;
    background-color: rgb(37, 37, 39);
}

.n-side {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    gap: 20px;
}

.sel {
    /* background-color: rgb(0, 0, 0); */
    padding: 10px;
    cursor: pointer;
    transition: 0.2s all;
    position: relative;
}

.sel:hover {
    transform: translateY(-2px);
}

.sel:hover::after {
    transform: scaleX(1);
}

.sel:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 2px;
    background-color: rgb(189, 34, 34);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav a {
    text-decoration: none;
    color: white;
}

.n-name {
    font-size: 1.6rem;
    transition: 0.2s all;
    font-weight: 600;
}

.n-name:hover {
    color: rgb(189, 34, 34);
}

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.messages {
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(4, 400px);
    padding: 20px;
    /* flex-direction: column; */
    gap: 20px;
}

.msg {
    display: flex;
    background-color: rgb(37, 37, 39);
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(87, 87, 87, 0.342);
    border: 2px solid white;
    transition: 0.2s all;
}

.add a {
    text-decoration: none;
    color: white;
    background-color: rgb(37, 37, 39);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s all;
    border-radius: 20px;
    border: 2px solid white;
}

img {
    width: 30px;
}

.add a:hover {
    background-color: rgb(189, 34, 34);
    /* background-color: rgb(82, 82, 87); */
}

.add {
    position: fixed;
    bottom: 24px;
    right: 24px;
    padding: 14px 20px;
    border-radius: 999px;
}

.f-new {
    display: flex;
    flex-direction: column;
    gap: 20px;    
}

.new-text {
    width: 500px;
    height: 200px;
}

.msg-text {
    padding: 10px;
    background-color: rgb(55, 55, 58);
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 5px black;
    text-align: center;
}

.msg-tit {
    text-decoration: underline;
    font-size: 1.2rem;
    font-weight: 500;
}

.msg:hover {
    transform: scale(1.05);
}

.del {
    cursor: pointer;
    transition: 0.2s all;
}

.del form {
    all: unset;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.del-btn:hover {
    background-color: red;
}

.msg-top {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 10px;
    border-radius: 10px;
    
}

.msg-user {
    background-color: rgb(189, 34, 34);
    padding: 10px;
    border-radius: 10px;
}

.msg-date {
    background-color: black;
    padding: 10px;
    font-weight: 500;
    border-radius: 10px;
}