@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

body {
    color: white;
    background-color: rgb(55, 55, 58);
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 350px;
}

.h-bot {
    display: flex;
    gap: 20px;
}

.h-bot a {
    padding: 10px;
    background-color: rgb(255, 255, 255);    
    /* background-color: rgb(34, 142, 236);     */
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.2s all;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
}

.h-bot a:hover {
    background-color: rgb(0, 0, 0);    
    transform: translateY(-2px);
    color: white;
}

.title {
    padding: 20px;
}

form, .other {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 40%;
    margin: auto;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    color: black;
}

.form-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-top: 200px;
}

.f-item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* width: 100%; */
}

.f-bit {
    display: flex;
    gap: 10px;
}

form button, .other a {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s all;
}

form button:hover, .other a:hover {
    transform: scale(1.05);
    background-color: rgba(0, 0, 0, 0.705);
}

form input {
    padding: 10px;
    border-radius: 10px;
    /* border: none; */
    border: 2px solid rgb(179, 172, 166);
}

.other {
    padding: 15px;
    width: 20%;
}